.filter {
  background-color: $bg-main;

  &__cotrols {
    width: 100%;
    margin: 0;
    padding: 0 25px 0 25px;
    display: flex;
    list-style: none;
    background-color: $tabs-btn;

    @include viewport--sm {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__control-item {
    margin-right: 2.5%;
    display: flex;
    align-items: center;
    color: $tabs-btn-text;
    border-bottom: 1px solid $color-transparent;

    &:last-child {
      margin-right: 0;
    }

    &.active {
      border-bottom: 1px solid $color-active;
      color: $color-default-white;
    }

    &.active > .filter__btn {
      color: $color-default-white;

      img:first-child {
        display: none;
      }
      img:nth-child(2) {
        display: block;
      }
    }

    @include viewport--sm {
      border: 1px solid $color-transparent;

      &.active {
        border: 1px solid $color-active;
      }
    }
  }

  &__btn {
    width: 100%;
    margin: 0;
    padding: 16px 20px 16px 19px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
    color: inherit;
    background-color: $color-transparent;
    transition: opacity $transition;
    border: none;
    outline: none;
    cursor: pointer;

    img {
      margin-right: 12px;

      &:nth-child(2) {
        display: none;
      }
    }



    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover span,
      &:focus span {
        opacity: 0.7;
      }
    }

    @media (max-width: 1090px) {
      font-size: 16px;
    }
  }

  &__form {
    width: 100%;
    padding: 25px 35px 29px;
    min-height: 287px;
  }
 }
