.header {
  margin-bottom: 8px;

  &__wrapper {
    width: 100%;
    background-color: $bg-main;
  }

  &__nav {
    display: flex;

    @include viewport--sm {
      &.container {
        padding: 0;
      }
    }
  }

  &__user-nav {
    margin-left: auto;
    background-color: $bg-main;
    z-index: 9;

    @media (max-width: 520px) {
      width: calc(100% - 161px);
    }
  }

  &__user-btn {
    padding: 10px 33px;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
    color: $color-default-white;
    background-color: $bg-btn;
    border: none;
    transition: background-color $transition;
    z-index: 9;

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover,
      &:focus {
        background-color: $bg-btn-active;
      }
    }

    &:active {
      background-color: $bg-btn-active;
    }

    @media (max-width: 520px) {
      width: 100%;
    }
  }

  &__overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: calc(100vh - 50px);
    top: 50px;
    left: 0;
    background-color: $color-transparent;
    opacity: 0;
    z-index: 6;
  }

  &__overlay.active {
    display: block;
    transition: opacity $modal-transition-settings;
  }

  &__overlay.show {
    opacity: 0.8;
    transition: opacity $modal-transition-settings;
  }

  &.hide .main-nav__wrapper {
    animation: hide-to-left 0.3s ease;
    animation-fill-mode: forwards;
  }

  &.show .main-nav__wrapper {
    animation: show-from-left 0.3s ease;
    animation-fill-mode: forwards;
    overflow-y: auto;
    z-index: 9;
  }
}

@keyframes hide-to-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes show-from-left {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}
