<form action="" method="POST">
  <div class="toggle">
    <input type="checkbox" id="toggleTab1" name="toggleTab1">
    <label class="toggle__label" for="toggleTab1">
      <span class="toggle__left">
        <span>Tab 1</span>
      </span>
      <span class="toggle__right">
        <span>Tab 2</span>
      </span>
      <span class="toggle__orange-block"></span>
    </label>
  </div>
  <div class="f-block">

      <div class="custom-input  custom-input--select f-block__select">
        <label class="" for="region">Все категории</label>
        <div class="custom-input__wrapper f-block__select-wrap">
          <svg width="6" height="5">
            <use xlink:href="#arrow-down"></use>
          </svg>
          <input type="text" id="region" name="region" placeholder="Select 1" value="Select 1" readonly="">
          <ul class="custom-input__select-list">
            <li class="custom-input__select-item" tabindex="0">Все категории</li>
            <li class="custom-input__select-item" tabindex="0">Категория 1</li>
            <li class="custom-input__select-item" tabindex="0">Категория 2</li>
            <li class="custom-input__select-item" tabindex="0">Категория 3</li>
          </ul>
        </div>
      </div>

      <div class="custom-input  custom-input--select f-block__select">
        <label class="" for="region">Все категории</label>
        <div class="custom-input__wrapper f-block__select-wrap">
          <svg width="6" height="5">
            <use xlink:href="#arrow-down"></use>
          </svg>
          <input type="text" id="region" name="region" placeholder="Select 2" value="Select 2" readonly="">
          <ul class="custom-input__select-list">
            <li class="custom-input__select-item" tabindex="0">Все категории</li>
            <li class="custom-input__select-item" tabindex="0">Категория 1</li>
            <li class="custom-input__select-item" tabindex="0">Категория 2</li>
            <li class="custom-input__select-item" tabindex="0">Категория 3</li>
          </ul>
        </div>
      </div>

      <div class="custom-input  custom-input--select f-block__select">
        <label class="" for="region">Все категории</label>
        <div class="custom-input__wrapper f-block__select-wrap">
          <svg width="6" height="5">
            <use xlink:href="#arrow-down"></use>
          </svg>
          <input type="text" id="region" name="region" placeholder="Select 3" value="Select 3" readonly="">
          <ul class="custom-input__select-list">
            <li class="custom-input__select-item" tabindex="0">Все категории</li>
            <li class="custom-input__select-item" tabindex="0">Категория 1</li>
            <li class="custom-input__select-item" tabindex="0">Категория 2</li>
            <li class="custom-input__select-item" tabindex="0">Категория 3</li>
          </ul>
        </div>
      </div>

      <div class="custom-input  custom-input--select f-block__select">
        <label class="" for="region">Все категории</label>
        <div class="custom-input__wrapper f-block__select-wrap">
          <svg width="6" height="5">
            <use xlink:href="#arrow-down"></use>
          </svg>
          <input type="text" id="region" name="region" placeholder="Select 4" value="Select 4" readonly="">
          <ul class="custom-input__select-list">
            <li class="custom-input__select-item" tabindex="0">Все категории</li>
            <li class="custom-input__select-item" tabindex="0">Категория 1</li>
            <li class="custom-input__select-item" tabindex="0">Категория 2</li>
            <li class="custom-input__select-item" tabindex="0">Категория 3</li>
          </ul>
        </div>
      </div>

      <div class="custom-input  custom-input--select f-block__select f-block__select--5">
        <label class="" for="region">Все категории</label>
        <div class="custom-input__wrapper f-block__select-wrap">
          <svg width="6" height="5">
            <use xlink:href="#arrow-down"></use>
          </svg>
          <input type="text" id="region" name="region" placeholder="Select 5" value="Select 5" readonly="">
          <ul class="custom-input__select-list">
            <li class="custom-input__select-item" tabindex="0">Все категории</li>
            <li class="custom-input__select-item" tabindex="0">Категория 1</li>
            <li class="custom-input__select-item" tabindex="0">Категория 2</li>
            <li class="custom-input__select-item" tabindex="0">Категория 3</li>
          </ul>
        </div>
      </div>

      <div class="custom-input  custom-input--select f-block__select f-block__select--6">
        <label class="" for="region">Все категории</label>
        <div class="custom-input__wrapper f-block__select-wrap">
          <svg width="6" height="5">
            <use xlink:href="#arrow-down"></use>
          </svg>
          <input type="text" id="region" name="region" placeholder="Select 6" value="Select 6" readonly="">
          <ul class="custom-input__select-list">
            <li class="custom-input__select-item" tabindex="0">Все категории</li>
            <li class="custom-input__select-item" tabindex="0">Категория 1</li>
            <li class="custom-input__select-item" tabindex="0">Категория 2</li>
            <li class="custom-input__select-item" tabindex="0">Категория 3</li>
          </ul>
        </div>
      </div>

      <div class="custom-input  custom-input--select f-block__select f-block__select--7">
        <label class="" for="region">Все категории</label>
        <div class="custom-input__wrapper f-block__select-wrap">
          <svg width="6" height="5">
            <use xlink:href="#arrow-down"></use>
          </svg>
          <input type="text" id="region" name="region" placeholder="Select 7" value="Select 7" readonly="">
          <ul class="custom-input__select-list">
            <li class="custom-input__select-item" tabindex="0">Все категории</li>
            <li class="custom-input__select-item" tabindex="0">Категория 1</li>
            <li class="custom-input__select-item" tabindex="0">Категория 2</li>
            <li class="custom-input__select-item" tabindex="0">Категория 3</li>
          </ul>
        </div>
      </div>

      <div class="f-block__price ">
        <div class="f-block__price-title">Цена</div>
        <div class="custom-input  f-block__input-price">
          <label class="f-block__price-label" for="min-price">Минимальная цена</label>
          <div class="custom-input__wrapper">
            <input type="number" id="min-price" name="min-price" placeholder="50" value="50"  min="50" max="250000">
          </div>
        </div>

        <div class="custom-input  f-block__input-price">
          <label class="f-block__price-label" for="max-price">Максимальная цена</label>
          <div class="custom-input__wrapper">
            <input type="number" id="max-price" name="max-price" placeholder="250000" value="25000" min="50" max="999000">
          </div>
        </div>
      </div>




  </div>
  <div class="f-btn">
    <button class="btn btn--reset" type="reset">
      <svg width="11" height="11">
        <use xlink:href="#cross"></use>
      </svg>
      Очистить фильтр
    </button>
    <button class="btn btn--gradient" type="submit">
      Применить фильтр
    </button>
  </div>
</form>
